<div class="row background-darker-purple">
    <div class="col-xs-12 buffer-padding-100">
        <div class="col-md-8 col-md-offset-1">
            <div class="col-md-4 text-lighter-purple">
                <h2 class="buffer-margin-30">About Us</h2>
                <ul class="list-unstyled text-uppercase text-bold">
                    <li><%= link_to "Who We Are", "#" %></li>
                    <li><%= link_to "Our Stories", "#" %></li>
                    <li><%= link_to "Mission & Values", "#" %></li>
                    <li><%= link_to "Our Practitioners", "#" %></li>
                    <li><%= link_to "Capitol in the Community", "#" %></li>
                    <li><%= link_to "Careers", "#" %></li>
                    <li><%= link_to "News & Events", "#" %></li>
                </ul>
            </div>
            <div class="col-md-4 text-lighter-purple">
                <h2 class="buffer-margin-30">Customer Service</h2>
                <ul class="list-unstyled text-uppercase text-bold">
                    <li><%= link_to "Quality Assurance", "#" %></li>
                    <li><%= link_to "Order Tracking", "#" %></li>
                    <li><%= link_to "Login Help", "#" %></li>
                    <li><%= link_to "Terms & Conditons", "#" %></li>
                    <li><%= link_to "Return Policy", "#" %></li>
                    <li><%= link_to "Privacy Policy", "#" %></li>
                    <li><%= link_to "California Transparency Act", "#" %></li>
                </ul>
            </div>
            <div class="col-md-4 text-lighter-purple">
                <h2 class="buffer-margin-30">Customer Service</h2>
                <ul class="list-unstyled text-uppercase text-bold">
                    <li><%= link_to "Our Locations", "#" %></li>
                    <li><%= link_to "Transfer Prescriptions", "#" %></li>
                    <li><%= link_to "Immunization", "#" %></li>
                    <li><%= link_to "Compounding Service", "#" %></li>
                    <li><%= link_to "HIPPA & Patient Survey", "#" %></li>
                </ul>
            </div>
            <div class="col-xs-12 buffer-margin-70 no-margin-bottom buffer-padding-30 no-padding-bottom border-top-purple-1">
                <small class="text-purple">
                    This internet site is hosted by Living Naturally, a website service provider to natural health stores nationwide. Living Naturally and Capitol Drugs have no means of indepenedently evaluating the safety of functionality of the products offered by their suppliers and affiliates and thus can neither endorse nor recommend products. Information presented is of the general nature for educational and informational purposes only. Statements about the products and health conditions have not been evaluated by the US Food and Drug Administration. Products and information presented herein are not intended to diagnose, treat, cure, or prevent disease. If you have any concerns about your own health, you should always consult with a physician or other healthcare professional. Your use of this site indicates your agreement to be bound by our Terms and Conditions.
                </small>
            </div>
        </div>
        <div class="col-md-3 text-lighter-purple">
            <div class="buffer-margin-30">
                Alternative & Traditional Therapies United
            </div>
            <ul class="list-unstyled list-inline">
                <li class="font-size-25px"><%= link_to fa_icon("envelope"), "#" %></li>
                <li class="font-size-25px"><%= link_to fa_icon("facebook-official"), "#" %></li>
                <li class="font-size-25px"><%= link_to fa_icon("twitter"), "#" %></li>
                <li class="font-size-25px"><%= link_to fa_icon("foursquare"), "#" %></li>
                <li class="font-size-25px"><%= link_to fa_icon("yelp"), "#" %></li>
            </ul>
            <p class="buffer-margin-30 font-size-120">Get our store specials, news & updates.</p>
            <small>Copyright &copy; <%= Date.today.year %> Capitol Drugs. All Rights Reserved.</small>
        </div>
    </div>
</div>