<div class="no-background" id="spree-header">
  <header class="no-background no-padding-bottom" id="header" data-hook>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-md-10 col-xs-12 no-padding text-center text-lighter-purple">
            <div class="col-md-2 buffer-margin-15">
              <%= link_to "CapitolDrugs.com", root_path, class: "text-decoration-none" %>
            </div>
            <ul class="col-md-8 list-inline list-style-pipe-after buffer-margin-15">
              <li>West Hollywood</li>
              <li>Sherman Oaks</li>
              <li>800 819 9098</li>
              <li>info@capitoldrugs.com</li>
            </ul>
            <ul class="col-md-2 no-padding list-unstyled list-inline" style="margin: 7px 0;">
              <li class="font-size-25px"><%= link_to fa_icon("facebook-official"), "#" %></li>
              <li class="font-size-25px"><%= link_to fa_icon("twitter"), "#" %></li>
              <li class="font-size-25px"><%= link_to fa_icon("foursquare"), "#" %></li>
              <li class="font-size-25px"><%= link_to fa_icon("yelp"), "#" %></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-12 no-padding">
            <div class="dropdown">
              <button class="btn btn-blue width-100 no-border-radius text-lighter-purple-important text-uppercase buffer-padding-20 font-size-120 dropdown-toggle" type="button" id="signed-in-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= spree_user_signed_in? ? "Hello #{current_spree_user.firstname}" : "Login / Register" %>
                <span class="caret"></span>
              </button>
              <ul class="width-100 no-margin no-padding no-border-radius text-lighter-purple-important text-uppercase dropdown-menu" aria-labelledby="signed-in-dropdown-menu">
                <% if spree_user_signed_in? %>

                <li><%= link_to "My Account", account_path, class: "text-center text-vertical-center-height-60 font-size-150" %></li>
                <li><%= link_to "Wishlist", default_wishlist_path, class: "text-center text-vertical-center-height-60 font-size-150" %></li>

                  <% if current_spree_user.admin? %>
                <li><%= link_to "Admin", admin_path, class: "text-center text-vertical-center-height-60 font-size-150" %></li>
                  <% end %>

                <li role="separator" class="divider"></li>
                <li><%= link_to "Logout", logout_path, class: "text-center text-vertical-center-height-60 font-size-150" %></li>

                <% else %>

                <li><%= link_to "Login", login_path, class: "text-center text-vertical-center-height-60 font-size-150" %></li>
                <li><%= link_to "Register", registration_path, class: "text-center text-vertical-center-height-60 font-size-150" %></li>

                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <%= render partial: 'spree/shared/capitol-drugs/nav_bar' %>
      </div>
    </div>
  </header>
  <div>
    <%= render partial: 'spree/shared/capitol-drugs/main_nav_bar' if store_menu? %>
  </div>
</div>