<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar no-border-radius background-blue-opacity-40 border-light-blue-1">
    <ul class="nav navbar-nav col-xs-12 no-padding text-center text-lighter-purple font-weight-bold" data-hook>
      <li class="col-xs-2 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-xs-2 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-xs-2 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-xs-2 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-xs-2 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-xs-2 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    </ul>
  </div>
</nav>