<nav class="col-xs-12">
  <div id="main-nav-bar" class="navbar no-border-radius background-blue-opacity-40 border-light-blue-1">
    <ul class="nav navbar-nav no-padding text-center text-lighter-purple text-bold" data-hook>
      <li class="col-sm-2 col-xs-4 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-sm-2 col-xs-4 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-sm-2 col-xs-4 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-sm-2 col-xs-4 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-sm-2 col-xs-4 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li class="col-sm-2 col-xs-4 no-padding" id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
    </ul>
  </div>
</nav>