<% @body_id = 'signup' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div id="signup-title">
  <h4>Create an account with Capitol Drugs</h4>
  <h1><%= Spree.t(:new_customer) %></h1>
  <hr>
</div>
<div id="new-customer" data-hook="login">
  <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
    <div data-hook="signup_inside_form">
      <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
      <p id="register-submit">
        <%= f.submit Spree.t(:create) %>
      </p>
    </div>
  <% end %>
  <div class="text-center">
    <%= Spree.t(:or) %> 
      <%= link_to Spree.t(:login_as_existing), spree.login_path %>
  </div>
  <div data-hook="login_extras"></div>
</div>
