<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
  <div id="password-credentials">
    <%= f.email_field :email, :class => 'form-control', :tabindex => 1, placeholder: 'Email', autofocus: true %>
    <%= f.password_field :password, :class => 'form-control', :tabindex => 2, placeholder: 'Password' %>
  </div>
  <div id="login-remember-me">
    <%= f.check_box :remember_me, :tabindex => 3 %>
    <%= f.label :remember_me, Spree.t(:remember_me) %>
  </div>

  <div id="login-submit">
    <%= f.submit Spree.t(:login), :class => 'btn', :tabindex => 4 %>
    
    <%= Spree.t(:or) %>
    <span>
        <%= link_to Spree.t(:create_a_new_account), spree.signup_path %> |
        <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
    </span>
  </div>
<% end %>
