<div class="row">
    <div class="text-center col-xs-12 buffer-margin-150">
        <div class="col-xs-12">
            <h1 class="text-uppercase fjalla-one font-size-400">Linden Flower Tea</h1>
        </div>
        <div class="col-sm-4 col-sm-offset-4 col-xs-12">
            <p class="buffer-margin-50 text-italic">
                Test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test
            </p>
        </div>
        <div class="col-xs-12">
            <%= link_to "View our tea special", "#", class: "border-shadow-outter-15 btn btn-purple text-uppercase fjalla-one text-white buffer-padding-15 buffer-padding-70-horizontal" %>
        </div>
    </div>
</div>
<div class="row">
    <ul class="list-unstyled list-inline text-uppercase fjalla-one text-center text-lighter-purple no-margin font-size-130">
        <%= link_to raw('<li class="col-md-3 buffer-padding-20 background-light-purple">New Holistic Products</li>'), "#" %>
        <%= link_to raw('<li class="col-md-3 buffer-padding-20 background-purple">Tea of The Week</li>'), "#" %>
        <%= link_to raw('<li class="col-md-3 buffer-padding-20 background-light-purple">Liver Support Specials</li>'), "#" %>
        <%= link_to raw('<li class="col-md-3 buffer-padding-20 background-light-purple">Liver Support Specials</li>'), "#" %>
    </ul>
    <div class="col-sm-12 background-dark-purple text-lighter-purple text-center" id="special-promos">
        <div class="col-md-3 col-md-offset-2 col-sm-4 buffer-padding-45">Our new promo code this week:</div>
        <div class="col-md-2 col-sm-4 text-uppercase fjalla-one font-size-280 buffer-padding-25">SPRING10</div>
        <div class="col-md-3 col-sm-4 buffer-padding-45">Get 10% off any order over $50</div>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-5 col-xs-12 background-light-blue buffer-padding-70">
        <div class="col-xs-12 text-white">
            <h2 class="text-uppercase fjalla-one no-margin">The Capitol Difference</h2>
            <p class="col-sm-10 col-sm-offset-1 text-italic buffer-padding-60 font-size-120">Test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test</p>
        </div>
        <div class="col-xs-12 text-purple font-size-120 text-center buffer-padding-70 no-padding-top">
                <div class="col-sm-4 buffer-padding-30 no-padding-top"><%= link_to "About Us", "#", class: "text-uppercase fjalla-one" %></div>
                <div class="col-sm-4 buffer-padding-30 no-padding-top"><%= link_to "Our Locations", "#", class: "text-uppercase fjalla-one" %></div>
                <div class="col-sm-4 buffer-padding-30 no-padding-top"><%= link_to "Specialization", "#", class: "text-uppercase fjalla-one" %></div>
        </div>
    </div>
    <div class="col-md-7 col-xs-12 buffer-padding-30">
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
            <h2 class="text-uppercase fjalla-one text-dark-purple no-margin buffer-padding-30 border-bottom-light-blue-1">Featured Brands</h2>
        </div>
        <div class="col-xs-12 buffer-margin-30">
            placeholder
        </div>
        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">        
            <h2 class="text-uppercase fjalla-one text-dark-purple buffer-margin-40 buffer-padding-30 border-bottom-light-blue-1">Brands A-Z</h2>
        </div>
        <div class="col-xs-12">
            <p class="text-uppercase fjalla-one text-light-purple font-size-200">
                <%= link_to "A", "#" %>
                <%= link_to "B", "#" %>
                <%= link_to "C", "#" %>
                <%= link_to "D", "#" %>
                <%= link_to "E", "#" %>
                <%= link_to "F", "#" %>
                <%= link_to "G", "#" %>
                <%= link_to "H", "#" %>
                <%= link_to "I", "#" %>
                <%= link_to "J", "#" %>
                <%= link_to "K", "#" %>
                <%= link_to "L", "#" %>
                <%= link_to "M", "#" %>
                <%= link_to "N", "#" %>
                <%= link_to "O", "#" %>
                <%= link_to "P", "#" %>
                <%= link_to "Q", "#" %>
                <%= link_to "R", "#" %>
                <%= link_to "S", "#" %>
                <%= link_to "T", "#" %>
                <%= link_to "U", "#" %>
                <%= link_to "V", "#" %>
                <%= link_to "W", "#" %>
                <%= link_to "X", "#" %>
                <%= link_to "Y", "#" %>
                <%= link_to "Z", "#" %>
            </p>
        </div>
    </div>
</div>
<div class="row background-dark-blue buffer-padding-50">
    <div class="col-sm-7 col-sm-offset-1">
        <h2 class="text-uppercase fjalla-one text-white buffer-margin-60 no-margin-bottom">Sport Nutrition Experts</h2>
        <span class="text-lighter-purple">
            <div class="col-sm-6 no-padding-left buffer-margin-60">            
                <p>
                    Test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test
                </p>
                <p>
                    Test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test
                </p>
            </div>
            <div class="col-sm-5 col-sm-offset-1 buffer-margin-60 no-margin-bottom">
                <ul class="list-unstyled text-lighter-purple text-uppercase fjalla-one font-size-120">
                    <li>Proteins</li>
                    <li>Creatine</li>
                    <li>Meal Bars</li>
                    <li>Powder Drinks</li>
                    <li>Nitric Oxide</li>
                    <li>Pre/Post-Workout</li>
                    <li>Sport Performance</li>
                    <li>CLA</li>
                    <li>Prohormones</li>
                </ul>
            </div>
            <div class="col-sm-12 no-padding buffer-margin-30 text-uppercase fjalla-one">
                <%= link_to "Hours & Location", "#" %>
            </div>
        </span>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>
<div class="row">
    <iframe frameborder="0"
            height="600"
            class="col-md-8 col-xs-12 no-padding no-border" 
            src="https://www.google.com/maps/embed/v1/place?q=capitol%20drugs%20pharmacy&key=AIzaSyCuqqRyIQcvB2Hzd7VKgdSphWfFuWh40kI" 
            allowfullscreen>
    </iframe>
    <div class="col-md-4 col-xs-12 background-lighter-blue buffer-padding-70" style="height: 600px;">
        <div class="col-sm-7 col-sm-offset-3">
            <div class="text-blue">
                <%= fa_icon "map-marker", class: "fa-2x" %>
                <p class="buffer-padding-20">
                    Test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test
                </p>
            </div>
            <ul class="list-unstyled buffer-margin-50">
                <li class="text-blue">West Hollywood</li>
                <span class="text-light-purple">
                    <li><%= link_to "310 289 1125", "tel:310-289-1125" %></li>
                    <li>Map & Directions</li>
                </span>
            </ul>
            <ul class="list-unstyled buffer-margin-50">
                <li class="text-blue">Sherman Oaks</li>
                <span class="text-light-purple">
                    <li><%= link_to "818 905 8338", "tel:818-905-8338" %></li>
                    <li>Map & Directions</li>
                </span>
            </ul>
        </div>
    </div>
</div>