<div class="text-center buffer-margin-100 row">
    <h1 class="text-uppercase font-size-300 col-xs-12">Linden Flower Tea</h1>
    <p class="col-sm-6 col-sm-offset-3 buffer-margin-50">Test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test</p>
    <div class="col-xs-12">
        <%= link_to "View our tea special", "#", class: "border-shadow-outter-15 btn btn-purple text-uppercase text-white buffer-padding-15 buffer-padding-70-horizontal" %>
    </div>
</div>
<div class="row">
    <ul class="list-unstyled list-inline text-uppercase text-center text-lighter-purple font-weight-bold no-margin">
        <%= link_to raw('<li class="col-sm-3 buffer-padding-20 background-light-purple">New Holistic Products</li>'), "#" %>
        <%= link_to raw('<li class="col-sm-3 buffer-padding-20 background-purple">Tea of The Week</li>'), "#" %>
        <%= link_to raw('<li class="col-sm-3 buffer-padding-20 background-light-purple">Liver Support Specials</li>'), "#" %>
        <%= link_to raw('<li class="col-sm-3 buffer-padding-20 background-light-purple">Liver Support Specials</li>'), "#" %>
    </ul>
    <div class="col-sm-12 background-dark-purple text-lighter-purple text-center" id="special-promos">
        <div class="col-md-5 col-sm-4 buffer-padding-25">Our new promo code this week:</div>
        <div class="col-md-2 col-sm-4 text-uppercase font-weight-bold font-size-200 buffer-padding-15">SPRING10</div>
        <div class="col-md-5 col-sm-4 buffer-padding-25">Get 10% off any order over $50</div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 background-light-blue text-center buffer-padding-70">
        <div class="text-white">
            <h2 class="text-uppercase buffer-margin-70">The Capitol Difference</h2>
            <p class="buffer-margin-20">Test test test test test test test test test test test test test test test test test test test test test</p>
        </div>
        <div class="text-purple buffer-padding-50">
            <div class="col-md-4">
                <%= link_to "About Us", "#", class: "text-uppercase font-weight-bold" %>
            </div>
            <div class="col-md-4">
                <%= link_to "Our Locations", "#", class: "text-uppercase font-weight-bold" %>
            </div>
            <div class="col-md-4">
                <%= link_to "Specialization", "#", class: "text-uppercase font-weight-bold" %>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        
    </div>
</div>